[submodule "libxsmm"]
	path = libxsmm
	url = https://github.com/libxsmm/libxsmm.git
[submodule "parlooper"]
	path = parlooper
	url = https://github.com/libxsmm/parlooper.git
[submodule "tier_infer"]
	path = tier_infer
	url = https://github.com/sathvikintel/tier_infer.git
